{% extends 'base.html' %}
{% block title %}Powerdash Home{% endblock %}

{% block body %}

<div id="date-filter">
    <form action="/date" method="POST">
        <label for="start">Start date:</label>
        <input type="date" id="start-date" name="start-date">
        <label for="end">End date:</label>
        <input type="date" id="end-date" name="end-date">
        <input type="submit" value="Submit"></form>
    </form>
</div>
   
<div>
    <h1>KPIs</h1>
    <h2 id="date-header"></h2>
    <table>
        <tr>
            <td>Net Sales per Class</td>
            <td id="net-sales"></td>
        </tr>
        <tr>
            <td>Expenses per Class</td>
            <td id="expenses-per-class">{{ expenses_per_class }}</td>
        </tr>
        <tr>
            <td>Payroll per Class</td>
            <td id="payroll-per-class">{{ payroll_per_class }}</td>
        </tr>
        <tr>
            <td>Total discount %</td>
            <td id="total-discounts">{{ discounts_percentage }}</td>
        </tr>
        <tr>
            <td>Profit per Class</td>
            <td id="profit-per-class">{{ profit_per_class }}</td>
        </tr>
        <tr>
            <td>Profit Margin</td>
            <td id="profit-margin">{{ profit_margin }}</td>
        </tr>
        <tr>
            <td>Occupancy Rate</td>
            <td id="occupancy-rate">{{ occupancy_rate }}</td>
        </tr>
        <tr>
            <td>Average Bookings</td>
            <td id="average-bookings">{{ average_bookings }}</td>
        </tr>
        <tr>
            <td>Break even Bookings</td>
            <td id="break-even-bookings">{{ break_even_bookings }}</td>
        </tr>
        <tr>
            <td>Net sales growth MOM</td>
            <td id="net-sales-growth">{{ MOM_sales_growth }}</td>
        </tr>
        <tr>
            <td>MOM expense growth</td>
            <td id="expense-growth">{{ MOM_expense_growth }}</td>
        </tr>
        <tr>
            <td>New students</td>
            <td id="new-students">{{ new_students }}</td>
        </tr>
        <tr>
            <td>90 day retention rate</td>
            <td id="retention">{{ retention }} </td>
        </tr>
        <tr>
            <td>Rev</td>
            <td id="rev"></td>
        </tr>
    </table>
</div>

{% endblock %}
