{% extends 'base.html' %}
{% block title %}Powerdash Home{% endblock %}

{% block body %}

<div>
    <h1>KPIs</h1>
    <table>
        <tr>
            <td>Net Sales per Class</td>
            <td></td>
        </tr>
        <tr>
            <td>Expenses per Class</td>
            <td></td>
        </tr>
        <tr>
            <td>Payroll per Class</td>
            <td></td>
        </tr>
        <tr>
            <td>Total discount %</td>
            <td></td>
        </tr>
        <tr>
            <td>Profit per Class</td>
            <td></td>
        </tr>
        <tr>
            <td>Profit Margin</td>
            <td></td>
        </tr>
        <tr>
            <td>Occupancy Rate</td>
            <td> </td>
        </tr>
        <tr>
            <td>Average Bookings</td>
            <td> </td>
        </tr>
        <tr>
            <td>Break even Bookings</td>
            <td> </td>
        </tr>
        <tr>
            <td>Net sales growth MOM</td>
            <td> </td>
        </tr>
        <tr>
            <td>MOM expense growth</td>
            <td> </td>
        </tr>
        <tr>
            <td>New students</td>
            <td> </td>
        </tr>
        <tr>
            <td>90 day retention rate</td>
            <td> </td>
        </tr>
    </table>
</div>
{% endblock %}
