{% extends 'base.html' %}
{% block title %}Powerdash Home{% endblock %}

{% block body %}

<div id="date-filter">
    <form action="/date" method="POST">
        <label for="start">Start date:</label>
        <input type="date" id="start-date" name="start-date">
        <label for="end">End date:</label>
        <input type="date" id="end-date" name="end-date">
        <input type="submit" value="Submit"></form>
    </form>
</div>
   
<div>
    <h1>KPIs</h1>
    <h2 id="date-header"></h2>
    <table>
        <tr>
            <td>Net Sales per Class</td>
            <td>{{ net_sales_per_class }}</td>
        </tr>
        <tr>
            <td>Expenses per Class</td>
            <td>{{ expenses_per_class }}</td>
        </tr>
        <tr>
            <td>Payroll per Class</td>
            <td>{{ payroll_per_class }}</td>
        </tr>
        <tr>
            <td>Total discount %</td>
            <td>{{ discounts_percentage }}</td>
        </tr>
        <tr>
            <td>Profit per Class</td>
            <td>{{ profit_per_class }}</td>
        </tr>
        <tr>
            <td>Profit Margin</td>
            <td>{{ profit_margin }}</td>
        </tr>
        <tr>
            <td>Occupancy Rate</td>
            <td>{{ occupancy_rate }}</td>
        </tr>
        <tr>
            <td>Average Bookings</td>
            <td>{{ average_bookings }}</td>
        </tr>
        <tr>
            <td>Break even Bookings</td>
            <td>{{ break_even_bookings }}</td>
        </tr>
        <tr>
            <td>Net sales growth MOM</td>
            <td>{{ MOM_sales_growth }}</td>
        </tr>
        <tr>
            <td>MOM expense growth</td>
            <td>{{ MOM_expense_growth }}</td>
        </tr>
        <tr>
            <td>New students</td>
            <td>{{ new_students }}</td>
        </tr>
        <tr>
            <td>90 day retention rate</td>
            <td>{{ retention }} </td>
        </tr>
    </table>
</div>

{% endblock %}
